.main-visual {
  background: url("./img/main-visual.jpeg") center/cover no-repeat;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background: rgba($color: $black, $alpha: 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  h1 {
    color: $white;
    font-size: 42px;
    text-align: center;
    padding: 60px 20px;
    position: relative;
  }
}
