.fade {
  @include transition_c(opacity 0.15s ease-out);
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;

  &.fade {
    opacity: 0;
  }

  &.show {
    opacity: 0.5;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;

  &.fade .modal-dialog {
    @include tranform_c(translate(-50%, -50%));
    @include transition_c(all 0.3s ease-out);
  }

  .modal-dialog {
    position: absolute;
    width: calc(100% - 30px);
    max-width: 740px;
    top: 50%;
    left: 50%;
    .modal-content {
      background: $white;
      border-radius: 10px;
      overflow: hidden;
      .modal-header {
        background: $orange;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
        .modal-title {
          color: $white;
          font-size: 18px;
          font-weight: bold;
        }
        .close {
          width: 15px;
          height: 15px;
          margin-right: 5px;
          position: relative;
          &::before,
          &::after {
            content: "";
            position: absolute;
            background: $white;
            width: 100%;
            height: 3px;
            top: 50%;
            left: 50%;
          }
          &::before {
            @include tranform_c(translate(-50%, -50%) rotate(-45deg));
          }
          &::after {
            @include tranform_c(translate(-50%, -50%) rotate(-135deg));
          }
          span {
            font-size: 0;
          }
        }
      }
      .modal-body {
        width: 100%;
        max-width: 480px;
        padding: 20px 15px 0;
        margin: 0 auto;
        &--large {
          max-width: unset;
          padding: 30px;
        }
        .reader {
          display: flex;
          align-items: center;
          justify-content: center;
          &__avatar {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border: 2px solid $orange;
            border-radius: 50%;
            width: 80px;
            height: 80px;
            overflow: hidden;
            position: relative;
            span {
              position: absolute;
              background: rgba($color: $black, $alpha: 0.5);
              color: $white;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              height: 22px;
              bottom: 0;
              left: 0;
              opacity: 0;
              @include transition_c(all 0.3s ease-out);
            }

            @include respond(hover) {
              &:hover {
                span {
                  opacity: 1;
                }
              }
            }
          }
          &__info {
            padding-left: 15px;
            .name {
              font-size: 15px;
              font-weight: bold;
              line-height: 22px;
            }
            .position {
              color: $orange;
              font-size: 12px;
              line-height: 18px;
            }
          }
          &__appointment {
            width: 100%;
            .img {
              display: flex;
              justify-content: space-between;
              width: 70%;
              margin: 0 auto;
              position: relative;
              &::before {
                content: "";
                position: absolute;
                border-top: 1px dashed $orange;
                width: calc(100% - 200px);
                height: 1px;
                top: 50%;
                left: 50%;
                @include tranform_c(translate(-50%, -50%));
              }
              &__item {
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                border: 2px solid $orange;
                border-radius: 50%;
                width: 80px;
                height: 80px;
                overflow: hidden;
                position: relative;
              }
            }
            .info {
              display: flex;
              padding-top: 15px;
              &__item {
                width: 50%;
                padding: 0 10px;
                text-align: center;
                &:first-child {
                  border-right: 1px solid $orange;
                }
                .name {
                  font-size: 15px;
                  font-weight: bold;
                  line-height: 22px;
                }
                .position {
                  color: $orange;
                  font-size: 12px;
                  line-height: 18px;
                }
              }
            }
          }
        }
        .details {
          &__tit {
            text-align: center;
            padding-bottom: 10px;
          }
          &__list {
            max-height: 168px;
            overflow: auto;
            padding: 10px 0;
            li {
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 5px 0;
              p {
                em {
                  font-size: 13px;
                  padding-left: 8px;
                }
              }
            }
          }
          &__total {
            border-top: 1px solid $orange;
            color: $orange;
            font-weight: bold;
            text-align: right;
            padding-top: 10px;
          }
        }
        .form {
          border-top: 1px solid $orange;
          padding: 20px 0;
          margin-top: 20px;
          position: relative;
          &--unbox {
            border: none;
            padding: 0;
            margin-top: 0;
          }
          &__heading {
            border-bottom: 1px solid $orange;
            font-size: 20px;
            padding-top: 20px;
            padding-bottom: 10px;
            margin-bottom: 20px;
          }
          &__group {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin: 0 auto;
            &:not(:last-child) {
              padding-bottom: 10px;
            }
            .item {
              width: calc(50% - 5px);
              &--full {
                width: 100%;
              }
              input,
              select {
                background: rgba($color: $orange, $alpha: 0.08);
                border: none;
                width: 100%;
                height: 38px;
                padding: 8px 10px;
                @include addPrefix(appearance, none);
              }
              textarea {
                background: rgba($color: $orange, $alpha: 0.08);
                border: none;
                width: 100%;
                height: 150px;
                padding: 8px 10px;
              }
            }
          }
          &__btn {
            background: $orange;
            border-radius: 100px;
            color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            max-width: 120px;
            height: 30px;
            margin: 20px auto 0;
          }
          &__back {
            color: $orange;
            width: 20px;
            height: 20px;
            position: absolute;
            top: -20px;
            left: 0;
            @include transition_c(none);
            svg {
              width: 100%;
            }
          }
        }
        .option {
          display: flex;
          align-items: center;
          justify-content: space-between;
          &__btn {
            background: $orange;
            border-radius: 100px;
            color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            width: calc(50% - 10px);
            height: 40px;
            @include transition_c(none);
          }
        }
        .card {
          position: relative;
          &__btn {
            color: $orange;
            width: 20px;
            height: 20px;
            position: absolute;
            top: -20px;
            left: 0;
            @include transition_c(none);
            svg {
              width: 100%;
            }
          }
          &__heading {
            display: flex;
            align-items: center;
            justify-content: center;
            &--reversed .img {
              @include tranform_c(rotate(180deg));
            }
            .img {
              width: 100%;
              max-width: 60px;
              img {
                width: 100%;
              }
            }
            .info {
              padding-left: 15px;
              p {
                font-size: 18px;
                font-weight: bold;
              }
            }
          }
          &__info {
            border: 1px solid $orange;
            border-radius: 5px;
            padding: 10px;
            margin-top: 30px;
          }
        }
        .results {
          position: relative;
          &__title {
            font-size: 18px;
            font-weight: bold;
            padding-bottom: 10px;
            margin-bottom: 15px;
            &::first-letter {
              text-transform: uppercase;
            }
          }
          &__item {
            display: flex;
            justify-content: space-between;
            padding-top: 20px;
            .heading {
              width: 160px;
              text-align: center;
              .img {
                &--reversed {
                  @include tranform_c(rotate(180deg));
                }
                img {
                  width: 100%;
                }
              }
              .info {
                p {
                  font-weight: bold;
                  margin-top: 8px;
                  line-height: 22px;
                }
                span {
                  font-size: 13px;
                  line-height: 18px;
                }
              }
            }
            .content {
              width: calc(100% - 180px);
            }
          }
        }
        .group-btn {
          display: flex;
          justify-content: center;
          padding-bottom: 20px;
          button {
            border-radius: 100px;
            color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            max-width: 120px;
            height: 38px;
            margin: 0 5px;
            &:nth-child(1) {
              background: $orange;
            }
            &:nth-child(2) {
              background: $black;
            }
          }
        }
        .order {
          &--admin {
            border-top: 1px solid $orange;
            padding-top: 10px;
            margin-top: 30px;
          }
          &--appointment {
            margin-bottom: 30px;
          }
          &__heading {
            border-bottom: 1px solid $orange;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 5px 10px;
            margin-bottom: 15px;
            strong {
              color: $orange;
              &.status {
                border: 1px solid currentColor;
                border-radius: 4px;
                font-weight: bold;
                padding: 2px 10px;
                margin-left: 5px;
                &.topay {
                  background: rgba($color: $blue, $alpha: 0.1);
                  color: $blue;
                }
                &.toship {
                  background: rgba($color: $yellow, $alpha: 0.1);
                  color: $yellow;
                }
                &.toreceive {
                  background: rgba($color: $orange, $alpha: 0.1);
                  color: $orange;
                }
                &.completed {
                  background: rgba($color: $green, $alpha: 0.1);
                  color: $green;
                }
                &.cancelled {
                  background: rgba($color: $red, $alpha: 0.1);
                  color: $red;
                }
              }
              &.status-other {
                border: 1px solid currentColor;
                border-radius: 4px;
                font-weight: bold;
                padding: 2px 10px;
                margin-left: 5px;
                &.requesting {
                  background: rgba($color: $blue, $alpha: 0.1);
                  color: $blue;
                }
                &.processing {
                  background: rgba($color: $orange, $alpha: 0.1);
                  color: $orange;
                }
                &.completed {
                  background: rgba($color: $green, $alpha: 0.1);
                  color: $green;
                }
                &.cancelled {
                  background: rgba($color: $red, $alpha: 0.1);
                  color: $red;
                }
              }
            }
          }
          &__info {
            border: 1px solid $orange;
            border-radius: 5px;
            overflow: hidden;
            li {
              display: flex;
              &:first-child {
                background: $orange;
                color: $white;
              }
              .col {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 4px;
                &:not(:last-child) {
                  border-right: 1px solid $orange;
                }
                &--01 {
                  width: 160px;
                }
                &--02 {
                  width: 160px;
                }
                &--03 {
                  flex: 1;
                }
                &--half {
                  width: 50%;
                }
              }
            }
          }
          &__list {
            border-top: 1px solid $orange;
            max-height: 276px;
            padding-top: 15px;
            margin-top: 15px;
            overflow: auto;
            li {
              display: flex;
              align-items: center;
              &:not(:last-child) {
                padding-bottom: 10px;
              }
              .img {
                border-radius: 5px;
                width: 80px;
                overflow: hidden;
                img {
                  width: 100%;
                }
              }
              .info {
                flex: 1;
                padding: 0 15px;
                p {
                  font-weight: bold;
                  line-height: 22px;
                }
                span {
                  color: $grey;
                  font-size: 13px;
                  &:last-child {
                    margin-left: 10px;
                  }
                }
              }
              .price {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                font-weight: bold;
              }
            }
          }
          &__total {
            border-top: 1px solid $orange;
            display: flex;
            justify-content: flex-end;
            padding-top: 15px;
            margin-top: 15px;
            .box {
              border-bottom: 1px solid $orange;
              display: flex;
              justify-content: space-between;
              width: 100%;
              max-width: 200px;
              font-size: 18px;
              padding: 0 5px 15px;
              span {
                font-weight: bold;
              }
              strong {
                color: $orange;
              }
            }
          }
        }
      }
      .modal-footer {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        max-width: 480px;
        margin: 0 auto;
        padding: 0 15px 30px;
        button {
          background: $orange;
          border-radius: 100px;
          color: $white;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 30px;
          opacity: 0.5;
          pointer-events: none;
          &.active {
            opacity: 1;
            pointer-events: auto;
          }
        }
      }
    }
  }
}
