.admin {
  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 30px;
    @include respond(phone) {
      flex-wrap: wrap;
      padding: 20px 15px 40px;
    }
  }
  &__sidebar {
    background: $white;
    border-radius: 10px;
    box-shadow: $bs;
    width: 280px;
    overflow: hidden;
    @include respond(phone) {
      width: 100%;
      margin-bottom: 20px;
    }
    .user {
      &__avatar {
        background: rgba($color: $orange, $alpha: 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        .circle {
          aspect-ratio: 1 / 1;
          border-color: $white;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          border: 4px solid $white;
          border-radius: 50%;
          width: 100%;
          max-width: 140px;

          @supports not (aspect-ratio: 1 / 1) {
            &::before {
              float: left;
              padding-top: 100%;
              content: "";
            }
            &::after {
              display: block;
              content: "";
              clear: both;
            }
          }
        }
      }
      &__info {
        padding: 15px;
        margin-bottom: 15px;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          background: $orange;
          width: calc(100% - 30px);
          height: 1px;
          bottom: 0;
          left: 15px;
        }
        .name {
          font-size: 18px;
          font-weight: bold;
          text-align: center;
          line-height: 28px;
        }
        .position {
          color: $orange;
          font-size: 15px;
          text-align: center;
          line-height: 22px;
        }
        .quote {
          display: block;
          font-size: 14px;
          margin-top: 8px;
          line-height: 22px;
        }
      }
    }
    .directory {
      li {
        @include respond(phone) {
          &:not(.more) {
            display: none;
            &.active {
              display: block;
            }
          }
        }
        a {
          background: rgba($color: $orange, $alpha: 0.2);
          border-radius: 100px;
          color: $white;
          display: flex;
          align-items: center;
          width: calc(100% - 30px);
          height: 38px;
          padding: 0 20px;
          margin: 20px auto;
          img {
            width: 18px;
          }
          span {
            margin-left: 8px;
          }

          &.active {
            background: $orange;
          }
        }

        &.more {
          display: none;
          @include respond(phone) {
            background: $orange;
            display: block;
            text-align: center;
            button {
              width: 100%;
              height: 30px;
              position: relative;
              span {
                position: absolute;
                border-top: 10px solid $white;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                top: 50%;
                left: 50%;
                @include tranform_c(translate(-50%, -50%));
              }
            }

            &--active {
              button span {
                @include tranform_c(translate(-50%, -50%) rotate(180deg));
              }
            }
          }
        }
      }
    }
  }
  &__content {
    width: calc(100% - 320px);
    @include respond(phone) {
      width: 100%;
    }
  }
  &__controller {
    background: $white;
    border-radius: 10px;
    box-shadow: $bs;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 15px;
    @include respond(phone) {
      padding-bottom: 5px;
    }
    .search {
      flex: 1;
      position: relative;
      input {
        border: 1px solid $grey-light;
        border-radius: 2px;
        width: 100%;
        height: 38px;
        padding: 8px 15px 8px 44px;
      }
      button {
        position: absolute;
        background: $black;
        border-radius: 3px;
        color: $white;
        width: 30px;
        height: 30px;
        top: 50%;
        left: 5px;
        @include tranform_c(translateY(-50%));
        svg {
          width: 22px;
        }
      }
    }
    .create {
      background: $black;
      border-radius: 6px;
      width: 38px;
      height: 38px;
      margin-left: 10px;
      svg {
        color: $white;
        width: 22px;
      }
    }
    .filter {
      display: flex;
      align-items: center;
      width: calc(100% + 20px);
      padding-top: 15px;
      margin: 15px -10px 0;
      position: relative;
      @include respond(phone) {
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 15px 0 0;
      }
      &::before {
        content: "";
        position: absolute;
        background: $grey-light;
        width: calc(100% - 20px);
        height: 1px;
        top: 0;
        left: 10px;
        @include respond(phone) {
          width: 100%;
          left: 0;
        }
      }
      &--four li {
        width: calc(100% / 4);
        @include respond(phone) {
          width: calc(100% / 2 - 8px);
        }
      }
      &--six li {
        width: calc(100% / 6);
        @include respond(phone) {
          width: calc(100% / 2 - 8px);
        }
      }
      &--seven li {
        width: calc(100% / 7);
        @include respond(phone) {
          width: calc(100% / 2 - 8px);
        }
      }
      li {
        padding: 0 10px;
        @include respond(phone) {
          padding: 0 0 16px;
        }
        button {
          border: 1px solid $grey-light;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 112px;
          @include respond(phone) {
            height: 80px;
          }
          img {
            height: 48px;
            @include respond(phone) {
              height: 30px;
            }
          }
          span {
            font-size: 16px;
            margin-top: 10px;
            @include respond(phone) {
              font-size: 14px;
            }
          }
          &.active {
            background: rgba($color: $orange, $alpha: 0.02);
            border: 2px solid $orange;
            span {
              color: $orange;
            }
          }
        }
      }
    }
  }
  &__users {
    background: $white;
    border-radius: 10px;
    box-shadow: $bs;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 30px 15px;
    margin-top: 20px;
    @include respond(phone) {
      justify-content: space-between;
      padding: 15px 15px 0;
    }
    li {
      display: flex;
      width: calc(100% / 3);
      padding: 0 15px 30px;
      @include respond(phone) {
        width: 100%;
        padding: 0 0 16px;
      }
      .user {
        border: 1px solid rgba($color: $orange, $alpha: 0.2);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: hidden;
        padding-bottom: 15px;
        &__avatar {
          background: rgba($color: $orange, $alpha: 0.2);
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px;
          .circle {
            aspect-ratio: 1 / 1;
            border-color: $white;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border: 4px solid $white;
            border-radius: 50%;
            width: 100%;
            max-width: 140px;

            @supports not (aspect-ratio: 1 / 1) {
              &::before {
                float: left;
                padding-top: 100%;
                content: "";
              }
              &::after {
                display: block;
                content: "";
                clear: both;
              }
            }
          }
        }
        &__info {
          display: flex;
          flex-direction: column;
          flex: 1;
          padding: 15px;
          margin-bottom: 15px;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            background: $orange;
            width: calc(100% - 30px);
            height: 1px;
            bottom: 0;
            left: 15px;
          }
          &--un-bd {
            padding-bottom: 0;
            margin-bottom: 0;
            &::before {
              display: none;
            }
          }
          .name {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            line-height: 28px;
          }
          .position {
            color: $orange;
            font-size: 15px;
            text-align: center;
            line-height: 22px;
          }
        }
        button {
          background: $orange;
          border-radius: 100px;
          color: $white;
          display: flex;
          align-items: center;
          justify-content: center;
          width: calc(100% - 20px);
          height: 38px;
          font-size: 16px;
          margin: 0 auto;
        }
      }
    }
  }
  &__cards {
    background: $white;
    border-radius: 10px;
    box-shadow: $bs;
    display: flex;
    flex-wrap: wrap;
    padding: 15px 5px;
    margin-top: 20px;
    @include respond(phone) {
      justify-content: space-between;
      padding: 15px 15px 0;
    }
    li {
      width: calc(100% / 6);
      padding: 0 10px 20px;
      overflow: hidden;
      @include respond(phone) {
        width: calc(100% / 2 - 8px);
        padding: 0 0 16px;
      }
      .img {
        box-shadow: $bs;
        display: block;
        overflow: hidden;
        position: relative;
        img {
          width: 100%;
        }

        .btns {
          position: absolute;
          background: rgba($color: $black, $alpha: 0.5);
          border-radius: 15px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          opacity: 0;
          padding: 10px;
          @include transition_c(all 0.3s ease-out);
          @include respond(phone) {
            flex-direction: row;
            align-items: flex-end;
            justify-content: flex-end;
            opacity: 1;
          }
          button {
            background: $white;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            &:not(:last-child) {
              margin-bottom: 10px;
              @include respond(phone) {
                margin-bottom: 0;
                margin-right: 8px;
              }
            }
            svg {
              color: $orange;
              width: 28px;
            }
          }
        }

        @include respond(hover) {
          &:hover {
            .btns {
              opacity: 1;
            }
          }
        }
      }
    }
  }
  &__products {
    background: $white;
    border-radius: 10px;
    box-shadow: $bs;
    display: flex;
    flex-wrap: wrap;
    padding: 15px 5px;
    margin-top: 20px;
    @include respond(phone) {
      justify-content: space-between;
      padding: 15px 15px 0;
    }
    li {
      width: calc(100% / 4);
      padding: 0 10px 20px;
      @include respond(phone) {
        width: calc(100% / 2 - 8px);
        padding: 0 0 16px;
      }
      .img {
        aspect-ratio: 1 / 1;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
        @supports not (aspect-ratio: 1 / 1) {
          &::before {
            float: left;
            padding-top: 100%;
            content: "";
          }
          &::after {
            display: block;
            content: "";
            clear: both;
          }
        }
        .btns {
          position: absolute;
          background: rgba($color: $black, $alpha: 0.5);
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          opacity: 0;
          padding: 10px;
          z-index: 10;
          @include transition_c(all 0.3s ease-out);
          @include respond(phone) {
            flex-direction: row;
            align-items: flex-end;
            justify-content: flex-end;
            opacity: 1;
          }
          button {
            background: $white;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            &:not(:last-child) {
              margin-bottom: 10px;
              @include respond(phone) {
                margin-bottom: 0;
                margin-right: 8px;
              }
            }
            svg {
              color: $orange;
              &.fa-pencil-alt {
                width: 20px;
              }
              &.fa-trash-alt {
                width: 16px;
              }
            }
          }
        }
        .sale {
          background: rgba($color: $black, $alpha: 0.8);
          border-top-right-radius: 5px;
          border-bottom-left-radius: 5px;
          color: $white;
          font-size: 12px;
          padding: 0 6px;
          position: absolute;
          top: 0;
          right: 0;
        }

        @include respond(hover) {
          &:hover {
            .btns {
              opacity: 1;
            }
          }
        }
      }
      .name {
        font-weight: bold;
        padding-top: 5px;
        line-height: 22px;
      }
      .price {
        display: flex;
        align-items: center;
        line-height: 30px;
        @include respond(phone) {
          line-height: 18px;
        }
        &__before {
          color: $grey;
          font-size: 16px;
          font-weight: bold;
          margin-right: 8px;
          text-decoration: line-through;
          @include respond(phone) {
            font-size: 14px;
          }
        }
        &__after {
          font-size: 18px;
          font-weight: bold;
          @include respond(phone) {
            font-size: 16px;
          }
        }
      }
    }
  }
  &__news {
    background: $white;
    border-radius: 10px;
    box-shadow: $bs;
    display: flex;
    flex-wrap: wrap;
    padding: 30px 15px;
    margin-top: 20px;
    @include respond(phone) {
      padding: 15px 15px 0;
    }
    li {
      width: calc(100% / 2);
      padding: 0 15px 30px;
      @include respond(phone) {
        width: 100%;
        padding: 0 0 16px;
      }
      .img {
        aspect-ratio: 5 / 3;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
        @supports not (aspect-ratio: 1 / 1) {
          &::before {
            float: left;
            padding-top: 60%;
            content: "";
          }
          &::after {
            display: block;
            content: "";
            clear: both;
          }
        }
        &--noimg {
          background-size: contain;
        }

        .btns {
          position: absolute;
          background: rgba($color: $black, $alpha: 0.5);
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          opacity: 0;
          padding: 10px;
          @include transition_c(all 0.3s ease-out);
          @include respond(phone) {
            flex-direction: row;
            align-items: flex-end;
            justify-content: flex-end;
            opacity: 1;
          }
          button {
            background: $white;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            &:not(:last-child) {
              margin-bottom: 10px;
              @include respond(phone) {
                margin-bottom: 0;
                margin-right: 8px;
              }
            }
            svg {
              color: $orange;
              &.fa-pencil-alt {
                width: 20px;
              }
              &.fa-trash-alt {
                width: 16px;
              }
            }
          }
        }

        @include respond(hover) {
          &:hover {
            .btns {
              opacity: 1;
            }
          }
        }
      }
      .tit {
        font-size: 15px;
        font-weight: bold;
        margin-top: 8px;
        text-transform: uppercase;
      }
      .group {
        line-height: 22px;
        .time {
          color: $grey;
          font-size: 12px;
          padding-right: 10px;
          margin-right: 10px;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            background: $black;
            width: 1px;
            height: 60%;
            top: 50%;
            right: 0;
            @include tranform_c(translateY(-50%));
          }
        }
        .comments {
          font-size: 12px;
        }
      }
    }
  }
  &__orders {
    @include respond(phone) {
      overflow: auto;
    }
    ul {
      background: $white;
      border-radius: 10px;
      box-shadow: $bs;
      overflow: hidden;
      margin-top: 20px;
      @include respond(phone) {
        width: 840px;
      }
      li {
        display: flex;
        padding: 0 10px;
        &:first-child {
          background: rgba($color: $orange, $alpha: 0.2);
        }
        .col {
          display: flex;
          align-items: center;
          justify-content: center;
          min-height: 54px;
          &--01 {
            width: 40px;
          }
          &--02 {
            flex: 1;
          }
          &--03 {
            width: 180px;
          }
          &--04 {
            width: 140px;
          }
          &--05 {
            width: 140px;
          }
          &--06 {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 80px;
            svg {
              color: $orange;
              &.fa-sliders-h {
                width: 18px;
              }
              &.fa-trash-alt {
                width: 16px;
              }
            }
          }
        }
        span {
          font-size: 16px;
          &.status {
            border: 1px solid currentColor;
            border-radius: 4px;
            font-weight: bold;
            padding: 2px 10px;
          }
          &.topay {
            background: rgba($color: $blue, $alpha: 0.1);
            color: $blue;
          }
          &.toship {
            background: rgba($color: $yellow, $alpha: 0.1);
            color: $yellow;
          }
          &.toreceive {
            background: rgba($color: $orange, $alpha: 0.1);
            color: $orange;
          }
          &.completed {
            background: rgba($color: $green, $alpha: 0.1);
            color: $green;
          }
          &.cancelled {
            background: rgba($color: $red, $alpha: 0.1);
            color: $red;
          }
        }
      }
    }
  }
  &__appointments {
    @include respond(phone) {
      overflow: auto;
    }
    ul {
      background: $white;
      border-radius: 10px;
      box-shadow: $bs;
      overflow: hidden;
      margin-top: 20px;
      @include respond(phone) {
        width: 840px;
      }
      li {
        display: flex;
        padding: 0 10px;
        &:first-child {
          background: rgba($color: $orange, $alpha: 0.2);
        }
        .col {
          display: flex;
          align-items: center;
          justify-content: center;
          min-height: 54px;
          &--01 {
            width: 40px;
          }
          &--02 {
            flex: 1;
          }
          &--03 {
            width: 180px;
          }
          &--04 {
            width: 140px;
          }
          &--05 {
            width: 140px;
          }
          &--06 {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 80px;
            svg {
              color: $orange;
              &.fa-sliders-h {
                width: 18px;
              }
              &.fa-trash-alt {
                width: 16px;
              }
            }
          }
        }
        span {
          font-size: 16px;
          &.status {
            border: 1px solid currentColor;
            border-radius: 4px;
            font-weight: bold;
            padding: 2px 10px;
          }
          &.requesting {
            background: rgba($color: $blue, $alpha: 0.1);
            color: $blue;
          }
          &.processing {
            background: rgba($color: $orange, $alpha: 0.1);
            color: $orange;
          }
          &.completed {
            background: rgba($color: $green, $alpha: 0.1);
            color: $green;
          }
          &.cancelled {
            background: rgba($color: $red, $alpha: 0.1);
            color: $red;
          }
        }
      }
    }
  }
  &__no-item {
    background: $white;
    border-radius: 10px;
    box-shadow: $bs;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    margin: 20px 0;
    a,
    button {
      background: $orange;
      border-radius: 100px;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 120px;
      height: 38px;
      font-size: 16px;
      margin-top: 10px;
    }
  }
  .pagination {
    width: 100%;
  }
}
