#home {
  padding-top: 48px;
  .banner {
    background: $black;
    display: flex;
    height: 40vw;
    padding: 30px 2vw;
    &__left {
      width: 60%;
      padding-right: 0.5vw;
    }
    &__right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 40%;
      padding-left: 0.5vw;
    }
    &__item {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 10px;
      height: calc(50% - 0.5vw);
      &--01 {
        background-image: url("./img/bnr_01.jpeg");
        height: 100%;
      }
      &--02 {
        background-image: url("./img/bnr_02.jpeg");
      }
      &--03 {
        background-image: url("./img/bnr_03.jpeg");
      }
    }
  }
  .collection {
    padding: 80px 0;
    .container {
      display: flex;
      align-items: center;
    }
    &__item {
      width: calc(100% / 3);
      padding: 0 15px;
      position: relative;
      .tit {
        font-size: 42px;
        padding-bottom: 34px;
        margin-bottom: 34px;
        line-height: 38px;
        text-transform: uppercase;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          background: $yellow;
          width: 50px;
          height: 4px;
          bottom: 0;
          left: 0;
        }
      }
      .txt {
        margin-bottom: 30px;
      }
      .item {
        border-radius: 5px;
        display: flex;
        overflow: hidden;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          background: rgba($color: $black, $alpha: 0.5);
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          opacity: 0;
          @include transition_c(all 0.3s ease-out);
        }
        img {
          width: 100%;
        }
        span {
          color: $white;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          font-size: 32px;
          font-weight: bold;
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          @include tranform_c(translateY(20px));
          @include transition_c(all 0.3s ease-out);
        }

        @include respond(hover) {
          &:hover {
            &::before {
              opacity: 1;
            }
            span {
              opacity: 1;
              @include tranform_c(translateY(0));
            }
          }
        }
      }
    }
  }
  .deal {
    background: url("./img/deal_bg.jpeg") left top/cover no-repeat;
    display: flex;
    justify-content: flex-end;
    padding: 68px 0;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background: rgba($color: $black, $alpha: 0.5);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    &__container {
      width: 50%;
      padding: 0 2vw;
      position: relative;
      .tit {
        color: $white;
        font-size: 40px;
        line-height: 52px;
        text-transform: uppercase;
      }
      .txt {
        color: $yellow;
        font-size: 20px;
        padding-bottom: 30px;
        line-height: 28px;
        strong {
          color: $white;
          font-size: 26px;
        }
      }
      .list {
        display: flex;
        width: 80%;
        margin: 0 -15px;
        padding-top: 40px;
        li {
          width: 50%;
          padding: 0 15px;
          a {
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            width: 100%;
            overflow: hidden;
            position: relative;
            .img {
              aspect-ratio: 1 / 1;
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
              border-radius: 5px;
              width: 100%;
            }
            .sale {
              background: rgba($color: $black, $alpha: 0.8);
              border-top-right-radius: 5px;
              border-bottom-left-radius: 5px;
              color: $white;
              font-size: 12px;
              padding: 0 6px;
              position: absolute;
              top: 0;
              right: 0;
            }
            .name {
              color: $grey;
              font-size: 14px;
              margin: 10px 0;
            }
            .price {
              display: flex;
              align-items: center;
              line-height: 30px;
              &__before {
                color: $grey;
                font-size: 16px;
                font-weight: bold;
                margin-right: 8px;
                text-decoration: line-through;
              }
              &__after {
                color: $white;
                font-size: 18px;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
  .product {
    padding: 70px 0;
    &__list {
      display: flex;
      margin: 0 -15px;
      padding: 50px 0;
      li {
        width: 25%;
        padding: 0 15px;
        a {
          display: flex;
          flex-direction: column;
          position: relative;
          .img {
            aspect-ratio: 1 / 1;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 5px;
            width: 100%;
          }
          .sale {
            background: rgba($color: $black, $alpha: 0.8);
            border-top-right-radius: 5px;
            border-bottom-left-radius: 5px;
            color: $white;
            font-size: 12px;
            padding: 0 6px;
            position: absolute;
            top: 0;
            right: 0;
          }
          .name {
            color: $grey;
            font-size: 14px;
            margin: 10px 0;
          }
          .price {
            display: flex;
            align-items: center;
            line-height: 30px;
            &__before {
              color: $grey;
              font-size: 16px;
              font-weight: bold;
              margin-right: 8px;
              text-decoration: line-through;
            }
            &__after {
              font-size: 18px;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
  .news {
    padding-bottom: 50px;
    &__list {
      display: flex;
      margin: 0 -15px;
      padding: 50px 0;
      li {
        width: calc(100% / 3);
        padding: 0 15px;
        a {
          display: flex;
          flex-direction: column;
          .img {
            aspect-ratio: 5 / 3;
            background-image: url("./img/news_01.jpeg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 5px;
          }
          .tit {
            font-size: 15px;
            font-weight: bold;
            margin-top: 8px;
            text-transform: uppercase;
          }
          .group {
            line-height: 22px;
            .time {
              color: $grey;
              font-size: 12px;
              padding-right: 10px;
              margin-right: 10px;
              position: relative;
              &::before {
                content: "";
                position: absolute;
                background: $black;
                width: 1px;
                height: 60%;
                top: 50%;
                right: 0;
                @include tranform_c(translateY(-50%));
              }
            }
            .comments {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
  .search {
    &__list {
      display: flex;
      margin: 0 -15px;
      padding: 50px 0;
      li {
        width: 25%;
        padding: 0 15px;
        a {
          display: flex;
          flex-direction: column;
          position: relative;
          .img {
            aspect-ratio: 1 / 1;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 5px;
            width: 100%;
          }
          .sale {
            background: rgba($color: $black, $alpha: 0.8);
            border-top-right-radius: 5px;
            border-bottom-left-radius: 5px;
            color: $white;
            font-size: 12px;
            padding: 0 6px;
            position: absolute;
            top: 0;
            right: 0;
          }
          .name {
            color: $grey;
            font-size: 14px;
            margin: 10px 0;
          }
          .price {
            display: flex;
            align-items: center;
            line-height: 30px;
            &__before {
              color: $grey;
              font-size: 16px;
              font-weight: bold;
              margin-right: 8px;
              text-decoration: line-through;
            }
            &__after {
              font-size: 18px;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
