.login {
  .account {
    min-height: calc(100vh - 260px);
    position: relative;

    &--signin {
      .container {
        &::before {
          left: calc(60% + 2px);
        }
        &--signup {
          opacity: 0;
          pointer-events: none;
          .account__form {
            @include tranform_c(translateX(-40%));
          }
          .account__shape {
            @include tranform_c(translateX(-100px));
          }
        }
      }
    }

    &--signup {
      .container {
        &::before {
          left: 0;
        }
        &--signin {
          opacity: 0;
          pointer-events: none;
          .account__form {
            @include tranform_c(translateX(40%));
          }
          .account__shape {
            @include tranform_c(translateX(100px));
          }
        }
      }
    }

    .container {
      background: $white;
      border: 1px solid $orange;
      border-radius: 20px;
      display: flex;
      align-items: center;
      text-align: center;
      min-height: calc(100vh - 400px);
      overflow: hidden;
      position: absolute;
      top: 50%;
      left: 50%;
      @include tranform_c(translate(-50%, -50%));
      @include transition_c(all 0.5s ease-out);
      @include respond(phone) {
        flex-direction: column;
      }
      &::before {
        content: "";
        position: absolute;
        background: $orange;
        width: 40%;
        height: 100%;
        top: 0;
        @include transition_c(all 0.5s ease-out);
        @include respond(phone) {
          display: none;
        }
      }
    }

    &__form {
      width: 60%;
      position: relative;
      z-index: 10;
      @include transition_c(all 0.5s ease-out);
      @include respond(phone) {
        order: 2;
        width: 100%;
        padding: 20px 15px;
      }

      .title {
        color: $orange;
        font-size: 26px;
        @include respond(phone) {
          font-size: 22px;
        }
      }

      .social {
        display: flex;
        justify-content: center;
        padding: 14px;

        &__btn {
          display: block;
          // width: 32px;
          // height: 32px;
          span button {
            font-size: 0;
            margin: 0;
            padding: 0;
          }
          svg {
            height: 16px;
          }
        }

        button {
          border: 1px solid $pink-pale;
          border-radius: 50%;
          color: $orange;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 32px;
          height: 32px;
          font-size: 0;
          margin: 0 5px;
          svg {
            height: 16px;
          }
        }
      }

      .note {
        color: $pink-pale;
        font-size: 14px;
        padding-bottom: 10px;
        @include respond(phone) {
          font-size: 12px;
        }
      }

      .form {
        &__group {
          color: $pink-pale;
          width: 100%;
          max-width: 320px;
          margin: 0 auto;
          position: relative;

          &:not(:first-child) {
            margin-top: 12px;
          }

          input {
            border: 1px solid $pink-pale;
            border-radius: 5px;
            width: 100%;
            height: 40px;
            padding: 8px 12px 8px 38px;
            @include respond(phone) {
              height: 34px;
            }

            &::placeholder {
              color: $pink-pale;
            }
          }

          svg {
            position: absolute;
            top: 50%;
            left: 12px;
            height: 14px;
            @include tranform_c(translateY(-50%));
          }

          &--name {
            display: flex;
            align-items: center;
            justify-content: space-between;

            input {
              width: calc(100% - 50px);
            }

            button {
              color: $grey;
              width: 40px;
              height: 40px;
              position: relative;

              &.active {
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 50%;
              }

              svg {
                position: absolute;
                width: 28px;
                height: 28px;
                top: 50%;
                left: 50%;
                @include tranform_c(translate(-50%, -50%));
              }
            }
          }
        }

        button[type="submit"] {
          background: $orange;
          border-radius: 100px;
          color: $white;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          max-width: 120px;
          height: 34px;
          margin: 20px auto 0;
          @include respond(phone) {
            max-width: 100px;
            height: 28px;
            font-size: 13px;
          }
        }
      }
    }

    &__shape {
      color: $white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 40%;
      height: 100%;
      position: relative;
      z-index: 10;
      @include transition_c(all 0.3s ease-out);
      @include respond(phone) {
        background: $orange;
        order: 1;
        width: 100%;
        padding: 20px 15px;
      }

      .title {
        font-size: 26px;
        @include respond(phone) {
          font-size: 22px;
        }
      }

      .txt {
        padding: 20px 0 40px;
        @include respond(phone) {
          font-size: 13px;
          padding: 8px 0 24px;
        }
      }

      button {
        border: 1px solid $white;
        border-radius: 100px;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 120px;
        height: 34px;
        margin: 0 auto;
        @include respond(phone) {
          max-width: 100px;
          height: 28px;
          font-size: 13px;
        }
      }
    }
  }
}
