.news-page {
  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: 40px 0 80px;
  }
  &__sidebar {
    background: $white;
    border-radius: 10px;
    box-shadow: $bs;
    width: 30%;
    padding: 20px 15px;
    li {
      &.search {
        border-bottom: 1px solid $grey-light;
        padding-bottom: 15px;
        margin-bottom: 15px;
        position: relative;
        form {
          position: relative;
          input {
            border: 1px solid $grey-light;
            border-radius: 2px;
            width: 100%;
            height: 38px;
            padding: 8px 15px 8px 44px;
          }
          button {
            position: absolute;
            background: $black;
            border-radius: 3px;
            color: $white;
            width: 30px;
            height: 30px;
            top: 50%;
            left: 5px;
            @include tranform_c(translateY(-50%));
            svg {
              width: 22px;
            }
          }
        }
      }
      &.filter {
        display: flex;
        flex-direction: column;
        &:not(:last-of-type) {
          margin-bottom: 30px;
        }
        .tit {
          font-size: 20px;
          padding-bottom: 18px;
          margin-bottom: 18px;
          text-transform: uppercase;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            background: $yellow;
            width: 30px;
            height: 3px;
            bottom: 0;
            left: 0;
          }
        }
        button {
          font-size: 18px;
          text-align: left;
          padding: 10px 15px;
          margin: 0 -15px;
          &:not(:last-child) {
            margin-bottom: 10px;
          }
          &.active {
            background: rgba($color: $grey-light, $alpha: 0.6);
            color: $yellow;
            pointer-events: none;
          }
        }
      }
    }
  }
  &__list {
    width: calc(70% - 40px);
    li {
      background: $white;
      border-radius: 10px;
      box-shadow: $bs;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      .top {
        display: flex;
        justify-content: space-between;
        padding: 15px;
        &__left {
          display: flex;
          align-items: center;
          .avatar {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 50%;
            width: 38px;
            height: 38px;
          }
          .info {
            padding-left: 12px;
            .name {
              font-size: 15px;
              font-weight: bold;
              line-height: 20px;
            }
            .time {
              font-size: 13px;
              line-height: 16px;
            }
          }
        }
        &__right {
          .edit {
            svg {
              width: 18px;
            }
          }
        }
      }
      .mid {
        .content {
          padding: 0 15px 15px;
          .tit {
            font-size: 16px;
            font-weight: bold;
            padding-bottom: 5px;
            line-height: 24px;
          }
          .txt {
            font-size: 15px;
            line-height: 20px;
          }
        }
        .img img {
          width: 100%;
        }
      }
      .bot {
        padding: 0 15px;
        &__upper {
          border-bottom: 1px solid $grey-light;
          display: flex;
          justify-content: space-between;
          padding: 10px 0;
          .reactions {
            display: flex;
            &__icon {
              display: flex;
              z-index: 10;
              position: relative;
              .box {
                position: relative;
                &:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)) {
                  display: none;
                }
                &:not(:first-child) {
                  margin-left: -8px;
                }
                @for $i from 1 through 7 {
                  &:nth-child(#{$i}) {
                    z-index: -#{$i};
                  }
                }
                &::before {
                  content: "";
                  position: absolute;
                  background: $white;
                  border-radius: 50%;
                  width: calc(100% + 2px);
                  height: calc(100% + 2px);
                  top: -1px;
                  left: -1px;
                  z-index: -1;
                }
                .icon {
                  width: 20px;
                  height: 20px;
                  position: relative;
                  &--like {
                    background: url("./img/reactions/like.png") center/cover no-repeat;
                  }
                  &--love {
                    background: url("./img/reactions/love.png") center/cover no-repeat;
                  }
                  &--care {
                    background: url("./img/reactions/care.png") center/cover no-repeat;
                  }
                  &--laugh {
                    background: url("./img/reactions/haha.png") center/cover no-repeat;
                  }
                  &--wow {
                    background: url("./img/reactions/wow.png") center/cover no-repeat;
                  }
                  &--sad {
                    background: url("./img/reactions/sad.png") center/cover no-repeat;
                  }
                  &--angry {
                    background: url("./img/reactions/angry.png") center/cover no-repeat;
                  }
                }
              }
            }
            &__txt {
              font-size: 15px;
              padding-left: 6px;
              line-height: 20px;
            }
          }
          .comments {
            font-size: 15px;
            line-height: 20px;
          }
        }
        &__lower {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .group {
            display: flex;
            align-items: center;
            width: calc(100% / 3 - 4px);
            height: 44px;
            position: relative;
            .upper {
              border-radius: 5px;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              height: 30px;
              font-size: 16px;
            }
            .icons {
              position: absolute;
              background: $white;
              border-radius: 100px;
              box-shadow: $bs;
              display: flex;
              padding: 8px;
              left: 0;
              bottom: 100%;
              z-index: 100;
              opacity: 0;
              pointer-events: none;
              @include transition_c(all 0.3s ease-out);
              .lower {
                width: 48px;
                height: 48px;
                margin: 0 5px;
                &--like {
                  background: url("./img/reactions/like.png") center/cover no-repeat;
                }
                &--love {
                  background: url("./img/reactions/love.png") center/cover no-repeat;
                }
                &--care {
                  background: url("./img/reactions/care.png") center/cover no-repeat;
                }
                &--laugh {
                  background: url("./img/reactions/haha.png") center/cover no-repeat;
                }
                &--wow {
                  background: url("./img/reactions/wow.png") center/cover no-repeat;
                }
                &--sad {
                  background: url("./img/reactions/sad.png") center/cover no-repeat;
                }
                &--angry {
                  background: url("./img/reactions/angry.png") center/cover no-repeat;
                }
              }
            }
            @include respond(hover) {
              &:hover {
                .upper {
                  background: $grey-light;
                }
                .icons {
                  pointer-events: auto;
                  opacity: 1;
                }
              }
            }
          }
        }
        &__hidden {
          border-top: 1px solid $grey-light;
          display: none;
          padding: 5px 0 10px;
          &--show {
            display: block;
          }
          .setting {
            text-align: right;
            button {
              color: $grey;
              font-size: 15px;
            }
          }
          .list {
            padding-top: 5px;
            &__item {
              display: flex;
              justify-content: space-between;
              &:not(:last-child) {
                display: none;
              }
              .avatar {
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 50%;
                width: 32px;
                height: 32px;
              }
              .content {
                width: calc(100% - 42px);
                .info {
                  background: rgba($color: $grey-light, $alpha: 0.5);
                  border-radius: 20px;
                  display: inline-block;
                  padding: 8px 12px;
                  line-height: 16px;
                  position: relative;
                  .name {
                    font-size: 13px;
                  }
                  .txt {
                    font-size: 15px;
                    line-height: 20px;
                  }
                  .reactions {
                    position: absolute;
                    background: $white;
                    border-radius: 100px;
                    box-shadow: $bs;
                    display: flex;
                    align-items: center;
                    padding: 2px 5px;
                    bottom: -9px;
                    right: 0;
                    &__icon {
                      display: flex;
                      z-index: 10;
                      position: relative;
                      .box {
                        position: relative;
                        &:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)) {
                          display: none;
                        }
                        &:not(:first-child) {
                          margin-left: -8px;
                        }
                        @for $i from 1 through 7 {
                          &:nth-child(#{$i}) {
                            z-index: -#{$i};
                          }
                        }
                        &::before {
                          content: "";
                          position: absolute;
                          background: $white;
                          border-radius: 50%;
                          width: calc(100% + 2px);
                          height: calc(100% + 2px);
                          top: -1px;
                          left: -1px;
                          z-index: -1;
                        }
                        .icon {
                          width: 14px;
                          height: 14px;
                          position: relative;
                          &--like {
                            background: url("./img/reactions/like.png") center/cover no-repeat;
                          }
                          &--love {
                            background: url("./img/reactions/love.png") center/cover no-repeat;
                          }
                          &--care {
                            background: url("./img/reactions/care.png") center/cover no-repeat;
                          }
                          &--laugh {
                            background: url("./img/reactions/haha.png") center/cover no-repeat;
                          }
                          &--wow {
                            background: url("./img/reactions/wow.png") center/cover no-repeat;
                          }
                          &--sad {
                            background: url("./img/reactions/sad.png") center/cover no-repeat;
                          }
                          &--angry {
                            background: url("./img/reactions/angry.png") center/cover no-repeat;
                          }
                        }
                      }
                    }
                    &__txt {
                      font-size: 13px;
                      padding-left: 6px;
                      line-height: 10px;
                    }
                  }
                }
                .other {
                  display: flex;
                  align-items: center;
                  padding-top: 5px;
                  margin-left: 12px;
                  .group {
                    display: flex;
                    position: relative;
                    .upper {
                      color: $grey;
                      font-size: 12px;
                      font-weight: bold;
                      padding: 10px 0;
                      line-height: 12px;
                    }
                    .icons {
                      position: absolute;
                      background: $white;
                      border-radius: 100px;
                      box-shadow: $bs;
                      display: flex;
                      padding: 8px;
                      left: -50px;
                      bottom: 100%;
                      z-index: 100;
                      opacity: 0;
                      pointer-events: none;
                      @include transition_c(all 0.3s ease-out);
                      .lower {
                        width: 36px;
                        height: 36px;
                        margin: 0 3px;
                        &--like {
                          background: url("./img/reactions/like.png") center/cover no-repeat;
                        }
                        &--love {
                          background: url("./img/reactions/love.png") center/cover no-repeat;
                        }
                        &--care {
                          background: url("./img/reactions/care.png") center/cover no-repeat;
                        }
                        &--laugh {
                          background: url("./img/reactions/haha.png") center/cover no-repeat;
                        }
                        &--wow {
                          background: url("./img/reactions/wow.png") center/cover no-repeat;
                        }
                        &--sad {
                          background: url("./img/reactions/sad.png") center/cover no-repeat;
                        }
                        &--angry {
                          background: url("./img/reactions/angry.png") center/cover no-repeat;
                        }
                      }
                    }

                    @include respond(hover) {
                      &:hover {
                        .icons {
                          pointer-events: auto;
                          opacity: 1;
                        }
                      }
                    }
                  }
                  .time {
                    color: $grey;
                    font-size: 12px;
                    padding-left: 4px;
                    line-height: 12px;
                  }
                }
              }
            }
            &--all .list__item:not(:last-child) {
              display: flex;
            }
          }
          .form {
            .group {
              display: flex;
              align-items: center;
              justify-content: space-between;
              .avatar {
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 50%;
                width: 32px;
                height: 32px;
              }
              input {
                background: rgba($color: $grey-light, $alpha: 0.5);
                border: none;
                border-radius: 100px;
                width: calc(100% - 42px);
                height: 32px;
                font-size: 15px;
                padding: 8px 12px;
                line-height: 20px;
              }
            }
            .note {
              font-size: 12px;
              padding-left: 42px;
              line-height: 20px;
            }
          }
        }
      }
    }
  }
  &__no-item {
    background: $white;
    border-radius: 10px;
    box-shadow: $bs;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    a,
    button {
      background: $orange;
      border-radius: 100px;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 120px;
      height: 38px;
      font-size: 16px;
      margin-top: 10px;
    }
  }
  .pagination {
    width: calc(70% - 40px);
    margin-top: 40px;
    margin-left: auto;
  }
}
