.footer {
  background: $black;
  padding: 60px 2vw;
  text-align: center;
  &__scroll {
    position: fixed;
    background: $white;
    border-radius: 50%;
    color: $black;
    width: 40px;
    height: 40px;
    bottom: -200%;
    right: 20px;
    @include transition_c(all 0.5s ease-out);
    svg {
      width: 100%;
    }

    &--active {
      bottom: 20px;
    }
  }
  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    @include respond(phone) {
      flex-direction: column;
    }
    img {
      width: 80px;
    }
    p {
      color: $white;
      font-size: 28px;
      font-weight: bold;
      padding-left: 20px;
      @include respond(phone) {
        padding: 10px 0 0;
      }
    }
  }
  &__copyright {
    color: $white;
    font-size: 13px;
    padding-top: 20px;
    margin-top: 40px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background: $white;
      width: 30%;
      height: 1px;
      top: 0;
      left: 50%;
      @include tranform_c(translateX(-50%));
    }
    .pc {
      display: none;
      @include respond(phone) {
        display: block;
      }
    }
  }
}
