// ABSTRACTS
@import "./abstracts/functions";
@import "./abstracts/mixins";
@import "./abstracts/variables";

// BASE
@import "./base/animations";
@import "./base/base";
@import "./base/typography";
@import "./base/utilities";

// COMPONENTS
@import "./components/admin-sidebar";
@import "./components/breadcrumb";
@import "./components/button";
@import "./components/loading";
@import "./components/main-visual";
@import "./components/modal";
@import "./components/pagination";
@import "./components/tab";

//LAYOUT
@import "./layout/footer";
@import "./layout/header";
@import "./layout/sidebar";

// PAGES
@import "./pages/404";
@import "./pages/admin";
@import "./pages/card";
@import "./pages/cart";
@import "./pages/home";
@import "./pages/login";
@import "./pages/news";
@import "./pages/products-add";
@import "./pages/products-detail";
@import "./pages/products";
@import "./pages/profile";
@import "./pages/reader";
@import "./pages/verify";
